<%- include("./header.ejs") %>
<div class="carousel slide" data-bs-ride="carousel" id="bb">
    <div class="carousel-inner">
        <div class="carousel-item active height" data-bs-interval="4000" >
            <img src="https://www.brandeis.edu/cms-guide/building-editing/content-types/images/banner-single-sample.jpg" alt="" class="w-100" style="height: 400px;">
        </div>
    </div>
    </div>
    <!--slide bar end-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 class="text-center why">
                    <span>About</span>
                    Us
                </h1>
            </div>
        </div>
    </div><!--container fluid end-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="whygreviance justify-content">
                        The Grievance Redressal Cell has been developed to settle the grievances of the students and other stakeholders within a reasonable time period for further strengthening the bond of the students with the institution by providing them with all kind of facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and learning. <br>
                        Oréll believes that providing on time and competent service is essential not only to attract new customers, but also to retain existing ones. ITMGrievance, the revolutionary online grievance handling mechanism aims at minimising instances of complaints in professional
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png" class="w-100" alt="">
                </div>
            </div><!--row end-->
            <div class="row">
                <p class="whygreviance justify-content">
                    colleges through effective tracking and monitoring of grievances ensuring prompt redressal. This portal for online registration and disposal of grievances help users obtain immediate response and resolution to their grievances from the institution itself
                </p>
            </div>
        </div><!--container end-->
    </div><!--container fluid end-->
    <br> <br>
<footer>
    <div class="container-fluid footbg">
        <div class="container ">
            <div class="row ">
                <div class="col-md-5"> 
                    <div class="foot1">
                        <a href="" class="non foo"><h1>
                         <span>ITMGrivance</span>
                         Portal</h1></a>



                    <p>#1 Online Grievance Redressal Mechanism designed in accordance with
                         AICTE directive aims at resolving the grievances of students, parents,
                          staff and others with optimal transparency and accuracy.</p>
                </div>  
            </div>
                <div class="col-md-3"> <div class="foot1"><h2 class="h2">Some Links</h2>
                    <ul> 
                        <li><a href="/" class="nav-link ">Home</a></li>
                        <li><a href="/about" class="nav-link ">About</a></li>
                        <li><a href="/GRS" class="nav-link  "> GRS</a></li>
                        <li><a href="/features" class="nav-link  "> Features</a></li>
                        <li><a href="/benefits" class="nav-link  ">Benefits </a></li>
                        <li><a href="/help" class="nav-link ">Help </a></li>
                    </ul>
        
                
                </div>   
            </div>
               
                <div class="col-md-4"> <div class="foot1">

                <h2 class="h2">24/7 SUPPORT & HELP</h2>
                <h6>+91 6268135064,
                    <br>
                    +91 8878957880(Support)</h6>


                    <h2>Connect with Us</h2>

                <a href="https://www.facebook.com/kargilsingh.singh/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/kargil.here/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kargil-singh-a1aa35228/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UC0YnXHMFq5sG-J18LoN_SeA"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://twitter.com/kargilsingh12"><i class="fa-brands fa-square-twitter"></i></a>

                

                </div>
            </div>
            </div>
            
        </div>
        <hr>
            <div class="row text-center">
                <div class="col-md-4 footlast"> Copyright @ 2023. ITMGravience Portal. All Rights Reserved</div>
                <div class="col-md-4 footlast"> Private Policy  Terms  & Condition</div>
                <div class="col-md-4 footlast"> Design By Rohit Bhadoriya</div>
               
            </div>
    </div>
<%- include("./footer.ejs") %>