<%- include("./header.ejs") %>
<!--slidebar start-->
<div class="carousel slide" data-bs-ride="carousel" id="s">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#s" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#s" data-bs-slide-to="1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="	https://res.cloudinary.com/djdseaeua/image/upload/v1682605759/sliderImage/fvbumsxdelaomcmmfad3.jpg"
                class="w-100">
        </div>
        <div class="carousel-item " data-bs-interval="4000">
            <img src="https://res.cloudinary.com/djdseaeua/image/upload/v1682605719/sliderImage/pfttdnpxt9hmj3chnsqs.jpg"
                class="w-100">
        </div>

    </div> <!--carousel inner end-->
    <button class="carousel-control-prev" type="button" data-bs-target="#s" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#s" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div> <!--carousel slide end-->

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="text-center why">
                <span>Why</span>
                Grievance Redressal System?
            </h1>
        </div>
    </div> <!--container end-->
</div> <!--container fluid end-->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="whygreviance justify-content">
                    The Grievance Redressal Cell has been developed to settle the grievances of the students and
                    other stakeholders within a reasonable time period for further strengthening the bond of the
                    students with the institution by providing them with all kind of facilities to a satisfaction
                    level for maintaining a convenient ambience of academic teaching and learning. <br>
                    Oréll believes that providing on time and competent service is essential not only to attract new
                    customers, but also to retain existing ones. ITMGrievance, the revolutionary online grievance
                    handling mechanism aims at minimising instances of complaints in professional
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png"
                    class="w-100" alt="">
            </div>
        </div><!--row end-->
        <div class="row">
            <p class="whygreviance justify-content">
                colleges through effective tracking and monitoring of grievances ensuring prompt redressal. This
                portal for online registration and disposal of grievances help users obtain immediate response and
                resolution to their grievances from the institution itself
            </p>
        </div>
    </div><!--container end-->
</div><!--container fluid end-->
<!---------------login section start------------>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center shadow-lg main">
                <div class="comborder">
                    <a href=" " class="component">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <h2>Student</h2>
                    <p>Student can manage or view Their Grievance Here..</p>
                    <button data-bs-toggle="modal" data-bs-target="#login" type="button"
                        class="btn loginbt">Login</button>
                </div>
            </div>
            <div class="col-md-4 text-center shadow-lg main">
                <div class="comborder">
                    <a href=" " class="component">
                        <i class="fa-solid fa-user-tie"></i>
                    </a>
                    <h2>Dean/Princopal</h2>
                    <p>This Section is Managed By the Dean/Principal of ITM University</p>
                    
                        <button data-bs-toggle="modal" data-bs-target="#principal" type="button" class="btn loginbt">Login</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center shadow-lg main">
                <div class="comborder">
                    <a href=" " class="component">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </a>
                    <h2>Handler & Admin</h2>
                    <p>this Section is managed and view by the Grievance handler.</p>
                        <button data-bs-toggle="modal" data-bs-target="#admin" type="button" class="btn loginbt">Login</button>
                    </a>
                </div>
            </div>
        </div><!--row end-->
    </div><!--container- end-->
</div><!--container-fluid end-->
<!-------------login section end---------------->
<br> <br>

<!--slidebar start-->
<div class="carousel slide" data-bs-ride="carousel" id="s">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="	https://res.cloudinary.com/djdseaeua/image/upload/v1682605759/sliderImage/fvbumsxdelaomcmmfad3.jpg"
                class="w-100">
        </div>
    </div> <!--carousel inner end-->
</div> <!--carousel slide end-->
<br> <br>

<!-- Button trigger modal -->

<!-- Student Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Student Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form action="/verifylogin" method="post">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button class="btn btn-info"> Submit</button>
               
            </form>
            </div>
        </div>
    </div>
</div>
<!--Studnet modal end-->

<!--adminmodal start -->
<div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form action="/verifylogin" method="post">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success"> Submit</button>
                <button data-bs-toggle="modal" data-bs-target="#registeradm" type="button"
                class="btn btn-info">Register</button>
               
            </form>
            </div>
        </div>
    </div>
</div>

<!--admin modal end-->
<!-- admin register start -->
<div class="modal fade" id="registeradm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/InsertAdm" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="">Name</label>
                        <input type="text" name="name" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">email</label>
                        <input type="text" name="email" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">Password</label>
                        <input type="password" name="password" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">Confirm Password</label>
                        <input type="password" name="confirmpassword" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="file" name="image" id="" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            <!-- <form action="/InsertAdm" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label> Comfirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control" required>
                </div>
                <div class="mb-3">
                    <input type="file" name="image" id="">-

                </div>

                <button class="btn btn-success" type="submit"> Submit</button>
                
                <!-- <button data-bs-toggle="modal" data-bs-target="#register" type="button"
                class="btn loginbt">Register</button> -->
            </form> -->
            </div>
        </div>
    </div>
</div>
 <!-- admin register end -->
<!-- principal Modal -->

<div class="modal fade" id="principal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Principla Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form action="/verifylogin" method="post">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button class="btn btn-success"> Submit</button>
             
            </form>
            </div>
        </div>
    </div>
</div>
<!--principla modal end--> 
<%- include("./footer.ejs") %>